{{> loggedInNavigator active="dashboard"}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    {{> list-placemarks}}
    {{> add-placemark}}
  </div>
  
</section>
