{{> loggedInNavigator active="dashboard"}}

<section class="section columns is-hcentered">
  <div class="column has-text-centered">
    {{> list-placemarks}}
  </div>
  <div class="column">
    {{> add-placemark}}
    <br>
    {{> error}}
  </div>
  <br>
</section>

