{{> loggedInNavigator}}

<section class="section columns is-vcentered">
  <div class="column has-text-centered">
    {{> list-single-placemark}}
  </div>
  <div class="column">
    {{> playlist-image }}
  </div>
</section>